@font-face {
  font-family: "Nanami-Book"; 
   src: 
    local('Nanami-Book'),
    url('../assets/fonts/Nanami-Book/Nanami-Book.woff2') format('woff2')
    url('./assets/fonts/Nanami-Book/Nanami-Book.woff') format('woff')
    url('./assets/fonts/Nanami-Book/Nanami-Book.ttf') format('ttf')
}



@font-face {
  font-family: "Century-Gothic";
  src: 
   url("../assets/fonts/Century-Gothic-WGL/Century-Gothic-WGL.woff2") format('woff2'),
   url("../assets/fonts/Century-Gothic-WGL/Century-Gothic-WGL.woff") format('woff'),
   url("../assets/fonts/Century-Gothic-WGL/Century-Gothic-WGL.ttf") format('ttf');
}
