@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: url('assets/images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* height: 100%; */

}

#__nuxt {
  height: 100%;
}

/* @media screen and (min-width: 769px) {
  body {
    max-width: ;
  }
} */


.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  max-width: 100%;
  margin: auto;
  padding: 1rem 0.5rem;
/* 
  @media screen and (min-width: 768px) {
    width: 768px;
  } */
}

.main {
  flex-grow: 1;
  height: 100%;
}

.header {
  padding: .5rem 1rem;
}
.footer {
  padding: .5rem 1rem;
}
